[Unit]
Description=example systemd service unit file.

[Service]
ExecStart=/bin/bash /sbin/primary.service/example.sh

[Install]
WantedBy=multi-user.target