[Unit]
Description=example systemd service unit file.

[Service]
ExecStart=/bin/bash /sbin/service-primary/example.sh

[Install]
WantedBy=multi-user.target